<main>
    
    {{!-- FORMULARIO --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form>
                    <input type="text" name = "nome" class="form-control" placeholder="Nome">
                    <input type="number" name = "valor" class="form-control" placeholder="Felefone">
                    <input type="text" name = "nome" class="form-control" placeholder="E-mail">
                    <input type="number" nome= "valor" class="form-control" placeholder="Nota">
                    <input type="text" name = "nome" class="form-control" placeholder="Situação">

                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
           
        </div>
    </div>

</main>